/* -----------------------------------------
larg device and small device default width 
-------------------------------------------*/
@media only screen and (max-width: 1250px) {
    .container {
        width: 95%;
    }
}

/* -----------------------------------------
larg device and small device default width 
-------------------------------------------*/
@media only screen and (max-width: 992px) {
    .nav-area {
        position: sticky;
        box-shadow: -5px 0px 20px 0px #F948B2;
        position: relative;
        top: 0;
        background-color: white;
        z-index: 9999;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    .flex-area {
        display: flex;
    }

    .nav-area {
        text-align: center;
    }

    .logo-area .flex-area {
        justify-content: center;
        display: flex;
    }


    .menu-area ul {
        display: block;
    }

    .menu-area ul li {
        margin-bottom: 10px;
    }

    .nav-social {
        display: inline-block;
    }

    header {
        padding: 50px 0;
    }

    .we-content img {
        width: 100%;
    }

    .videos-area {
        grid-template-columns: repeat(2, 1fr);
    }

    .all-games-top .flex-area,
    .all-games-down .flex-area {
        display: flex;
    }

    .one {
        display: block;
    }

    .two {
        display: none;
    }

    .all-games-top {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        grid-gap: 20px
    }

    footer .flex-area {
        display: flex;
    }

    footer ul {
        flex-wrap: wrap;
    }

    footer ul li {
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 576px) {
    .nav-area {
        box-shadow: none;
        position: relative;
        top: 0;
        background-color: white;
        z-index: 9999;
    }

    .flex-area {
        /* justify-content: center; */
        display: block;
    }


    header {
        text-align: center;
        margin-top: 50px;
        background-size: cover;
    }

    .grid-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .we-right {
        text-align: center;
    }

    h2 {
        font-size: 30px;
    }

    .play-left {
        text-align: center;
        margin-bottom: 30px;
    }

    .play-game-right {
        text-align: left;
        margin-top: 50px;
    }

    .play-right .main-img {
        width: 90%;
    }

    .play-instant .side-image {
        width: 40%;
        position: absolute;
        bottom: -15%;
        left: -10%;
    }

    .play-side-image {
        width: 40%;
        position: absolute;
        bottom: -15%;
        right: -5%;
    }

    .all-games-top img {
        width: 30%;
    }

    .all-games-top {
        grid-gap: 8px;
    }

    .all-games-top p {
        font-size: 12px;
        margin-left: 5px;
    }

    footer .flex-area {
        display: flex;
    }

    footer ul {
        flex-wrap: wrap;
    }

    footer ul li {
        margin-bottom: 20px;
    }
}


@media only screen and (max-width: 400px) {
    .all-games-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-gap: 20px
    }

    footer ul li a i {
        margin: 0 5px;

    }

}