* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

h1 {
    font-size: 64px;
    color: #fff;
}

h2 {
    font-size: 48px;
    color: #0a0826;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 18px;
}

h1,
h2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 span,
.hero-content h2 {
    background: linear-gradient(180deg, #0a0826 0%, #0a0826 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #0a0826;
    padding: 11px 17px;
}

a:hover {
    color: #FF42A5;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #534C64;
}

span {
    color: #FF42A5;
}

.button {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    transition: 0.5s;
    border-radius: 5px;
    text-transform: capitalize;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #ff42a4b0 100%);
}

.button i {
    padding: 0 7px;
}

.button:hover {
    color: #fff;
    background: linear-gradient(90deg, #ff42a4b0 0%, #FF42A5 100%);
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    margin: 0 5px;
}

li a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px;
    letter-spacing: 1px;
}

i {
    color: #2d25a0;
    background: 0 0;
    /* border: 1px solid #2d25a0; */
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    padding: 15px;
    box-sizing: content-box;
}

li a:hover i {
    color: #FF42A5;
}

.container {
    max-width: 1400px;
    padding: 100px 0;
    margin: auto;
}

.flex-area {
    display: flex;
    align-items: center;

}

.left-flex {
    width: 50%;
}

.right-flex {
    width: 50%;
}

.grid-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 20px; */
    align-items: center;
}

.left-area {
    text-align: left;
}

.right-area {
    text-align: right;
}

/* nav area style  */

.logo-head {
    color: black
}

.youtube {}

.nav-social {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/*--------------------------------
 hero area style start here 
 --------------------------------*/
header {
    background-image: url('../images/Group 14.png');
    background-position: left;
    background-repeat: no-repeat;
}

.header .container {
    padding: 0;
}



.hero-button2 {
    background: linear-gradient(90deg, #4EC5F7 0%, #4ec4f7ab 100%);
}

.hero-button2:hover {
    background: linear-gradient(90deg, #4ec4f7ab 0%, #4EC5F7 100%);
}

.hero-content img {
    width: 100%;
}

/*--------------------------------
 we are gamer area style start here 
 --------------------------------*/
.we-are-gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.we-content img {
    width: 80%;
}

.we-right P {
    color: #534C64;
    margin: 20px 0;
}

.we-right h4 {
    color: #534c64be;
    margin-top: 20px;
}

.we-right h3 {
    color: #534C64;
}


/*--------------------------------
 videos area style start here 
 --------------------------------*/
.videos-content {
    text-align: center;
}

.videos-area {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: start;
    margin-top: 50px;

}

.videos-area img {
    width: 100%;
    height: auto;
}

.videos-area p {
    margin-top: 10px;
    font-size: 15px;
}

/*--------------------------------
 play instant area style start here 
 --------------------------------*/


.play-instant img {
    width: 90%;

}

.play-right {
    position: relative;
    text-align: left;
}

.play-left {
    text-align: left;

}

.play-instant .side-image {
    width: 40%;
    position: absolute;
    bottom: -15%;
    left: -15%;
}

.play-instant .side-image img {
    width: 100%;

}


/*--------------------------------
 play games area style start here 
 --------------------------------*/
.play-side-image {
    width: 45%;
    position: absolute;
    bottom: -15%;
    right: -15%;
}

.play-game-right {
    text-align: right;
}

/*--------------------------------
 career area style start here 
 --------------------------------*/
.career {
    background-color: #F948B2;
    background-image: url('../images/Group 14.png');
    background-position: left;
    background-repeat: no-repeat;
}

.career-area-right img {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

tr {
    border-bottom: 1px solid #ddd;
}


td {
    padding: 8px;

}



tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

td:first-child {
    font-weight: bold;
}

.career .button {
    margin-top: 50px;
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    color: #F948B2;
}

.career .button:hover {
    background: linear-gradient(90deg, #d3c2c2 0%, #dec7c7 100%);
}


/*--------------------------------
 footer area style start here 
 --------------------------------*/

footer {
    text-align: center;
    background: #0B0223;

}